/*
Peyton Luhring
Jan '24
Web Apps personal page. CSS file
*/

/* Creates standard for all paragraphs */
.paragraph-block {
    max-width: 50%;
    margin: auto auto 25px;
}
/* Creates standard for all images */
img {
    max-width: 40%;
    max-height: 750px;
}

/* Borders for actual table */
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: black;
    border: 3px grey
}

/* Titles align left*/
th {
    text-align: center;
    padding-bottom: 5px;
    color: white;
}

td {
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
}

table {
    border-spacing: 15px 0;
}

td {
    padding: 10px;
    border: 1px solid white;
}

/* Ensures title sections are always shorter than description sections */
.cell-name {
    width: 30%;
}

.cell-description {
    width: 60%;
}

tbody tr:hover {
    background-color: rgb(255, 115, 115) !important;
}

body {
    background-color: black;
    font-family: "MS Sans Serif", Tahoma, Arial, sans-serif;
}

h1 {
    color: red
}

h2 {
    color: white
}

h3, p {
    color: white
}

span {
    color: white
}

label {
    color: white;
    margin-left: 10px
}

a:link {
    color: red
}

a:visited {
    color: red
}

footer {
    text-align: center;
    padding-top: 30px;
}

#map {
    width: 500px;
    height: 500px;
    margin: 1em auto;
    }

button {
    font-family: "MS Sans Serif", Tahoma, Arial, sans-serif;
    font-size: 12px;
    color: #000;
    background: #c0c0c0;
    padding: 4px 12px;
    border: 2px solid;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #404040;
    border-bottom-color: #404040;
    box-shadow: inset -1px -1px 0 #808080;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: #c0c0c0;
}

button:active {
    border-top-color: #404040;
    border-left-color: #404040;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    box-shadow: inset 1px 1px 0 #808080;
    padding: 5px 11px 3px 13px; /* subtle "pressed" shift */
}

button:focus {
    outline: 1px dotted #000;
    outline-offset: -4px;
}

button:disabled {
    color: #808080;
    text-shadow: 1px 1px #ffffff;
    cursor: default;
}
