/*
Peyton Luhring
Jan '24
Web Apps personal page. CSS file
*/

/* Creates standard for all paragraphs */
.paragraph-block {
    max-width: 50%;
    margin: auto auto 25px;
}
/* Creates standard for all images */
img {
    max-width: 40%;
    max-height: 750px;
}

/* Borders for actual table */
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: black;
    border: 3px grey
}

/* Titles align left*/
th {
    text-align: center;
    padding-bottom: 5px;
    color: white
}

td {
    padding-bottom: 5px;
    padding-top: 5px;
    color: white
}

/* Ensures title sections are always shorter than description sections */
.cell-name {
    width: 30%;
}

.cell-description {
    width: 60%;
}

tbody tr:hover {
    background-color: rgb(255, 115, 115) !important;
}

body {
    background-color: black
}

h1 {
    color: red
}

h2 {
    color: white
}

h3, p {
    color: grey
}

span {
    color:darkgrey
}

label {
    color: white;
    margin-left: 10px
}

footer {
    text-align: center;
    padding-top: 30px;
}

#map {
    width: 500px;
    height: 500px;
    margin: 1em auto;
    }
