<!-- tell browser what to expect-->
<!DOCTYPE html>

<link rel="icon" href="data:,">

<!-- specify english as the language -->
<html lang="EN">

<head>
    <title>The Most Dangerous Game</title>
    <!-- provide character set-->
    <meta charset="utf-8">
    <!-- ensure page displays across all platforms-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- centering div-->
    <div style="margin-left: auto; margin-right: auto; text-align: center">
        <h2 id="top">Welcome to...</h2>
        <h1><b>THE MOST DANGEROUS GAME</b></h1>
        <h3>On going games...</h3>

        <table>
            <thead>
                <tr>
                    <th>-- -- Game Title --</th>
                    <th>-- Latitude --</th>
                    <th>-- Longitude --</th>
                    <th>-- Start Date --</th>
                    <th>-- * -- --</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5">Loading games...</td>
                </tr>
            </tbody>
        </table>

        <script>

        </script>
    </div>
    <script src="{{ url_for('static', filename='landingPage.js') }}"></script>
</body>
<footer>
    <div>
        <h2><a href="/add_game">Begin a game...</a></h2>
    </div>
    <span>
        <b><u>VISITOR COUNTER</u></b>
    </span>
    <div style="margin-left: auto; margin-right: auto; text-align: center">
        <script type="text/javascript" src="https://counter.websiteout.com/js/6/6/0/0"></script>
    </div>
</footer>

</html>