<!-- tell browser what to expect-->
<!DOCTYPE html>

<link rel="icon" href="data:,">

<!-- specify english as the language -->
<html lang="EN">

<head>
    <title>The Most Dangerous Game</title>
    <!-- provide character set-->
    <meta charset="utf-8">
    <!-- ensure page displays across all platforms-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- AUTH BAR -->
    <div id="auth-bar" style="display:flex; justify-content:flex-end; gap:10px; padding:10px;">
        <span id="user-display" style="display:none;"></span>

        <button id="login-btn">Login</button>
        <button id="register-btn">Create Account</button>
        <button id="logout-btn" style="display:none;">Logout</button>
    </div>

    <!-- AUTH FORM (hidden by default) -->
    <div id="auth-form" style="display:none; text-align:center; margin-bottom:20px;">
        <div id="signing-up" style="display:none;">
            <h3>You are signing up.</h3>
        </div>

        <div id="logging-in" style="display:none;">
            <h3>You are logging in.</h3>
        </div>
        <input id="auth-username" placeholder="Username">
        <input id="auth-password" type="password" placeholder="Password">
        <button id="auth-submit">Submit</button>
        <button id="auth-cancel">Cancel</button>
    </div>

    <!-- centering div-->
    <div style="margin-left: auto; margin-right: auto; text-align: center">
        <h2 id="top">Welcome to...</h2>
        <h1><b>THE MOST DANGEROUS GAME</b></h1>
        <h3>On going games...</h3>

        <table>
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Start Date</th>
                    <th>-- * --</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5">Loading games...</td>
                </tr>
            </tbody>
        </table>

        <script>

        </script>
    </div>
    <script src="{{ url_for('static', filename='landingPage.js') }}"></script>
</body>
<footer>
    <div id="create-game" style="display: none">
        <h3>Begin a game...</h3>
        <form>
            <label for="game_id">Game Name:</label>
            <input type="text" id="name" name="Name" required>
            <button type="button" onclick="submitGame()">Submit</button>
        </form>
        <p id="response"></p>
    </div>
    <span>
        <b><u>VISITOR COUNTER</u></b>
    </span>
    <div style="margin-left: auto; margin-right: auto; text-align: center">
        <script type="text/javascript" src="https://counter.websiteout.com/js/6/6/0/0"></script>
    </div>
</footer>

</html>