<!-- tell browser what to expect-->
<!DOCTYPE html>

<link rel="icon" href="data:,">

<!-- specify english as the language -->
<html lang="EN">

<head>
    <title>The Most Dangerous Game</title>
    <!-- provide character set-->
    <meta charset="utf-8">
    <!-- ensure page displays across all platforms-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <meta http-equiv="refresh" content="30">
</head>

<body>
    <!-- centering div-->
    <div style="margin-left: auto; margin-right: auto; text-align: center">
        <h2 id="top">Welcome to...</h2>
        <h1><b>THE MOST DANGEROUS GAME</b></h1>
        <h2 style="color: red;" id="user">Loading..</h2>
        <h2 style="color: red;" id="game-title">Loading...</h2>
    </div>

    <div style="margin-left: auto; margin-right: auto; text-align: center">
        <h3 id="local"></h3>
        <h3>Player Information</h3>
        <table id="players-table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Team</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Timestamp</th>
                    <th>Distance (ft)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">Loading player data...</td>
                </tr>
            </tbody>
        </table>

        <h3>Point Locations</h3>
        <table id="points-table">
            <thead>
                <tr>
                    <th>Point</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Owner</th>
                    <th>Defenders</th>
                    <th>Timestamp</th>
                    <th>Distance (ft)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5">Loading point data...</td>
                </tr>
            </tbody>
        </table>

        <h3 id="test"></h3>
    </div>

    <footer>
        <div>
            <h2><a href="/">Home</a></h2>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='joinGame.js') }}"></script>
</body>

</html>